.form {
  @include flex(flex-start, flex-start, column);
  @include h-pad();
  padding-top: rem(30);
  gap: rem(50);

  @media(--laptop) {
    width: 60%;
    gap: rem(70);
    border-left: rem(2) solid cc(blue);
  }

  &__button {
    background-color: cc(blue);
    width: 100%;
    padding: rem(20);
    font-size: rem(20);
    border-radius: rem(10);
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-align: center;

    &.--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:not(.--disabled):hover {
      opacity: 0.7;
      transform: scale(0.95);
    }

    & label {
      @include font-medium();
      color: cc(white);
      cursor: pointer;
    }
  }

  &__field {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    gap: rem(20);
  }

  &__input {
    @include font-default();
    font-size: rem(25);
    width: 100%;
    padding: rem(10);
    border-radius: rem(5);
    background-color: cc(gray);
    transition: border-bottom-color 0.5s ease;
    overflow: hidden;
    color: cc(white);

    &:focus {
      color: cc(white);
    }

  }

  &__label {
    @include font-medium();
    font-size: rem(25);
    line-height: rem(25);
    color: cc(white);
  }

  &__login {
    @include flex(flex-start, flex-start, column);
    gap: rem(20);
    width: 100%;

    & div {
      @include font-medium();
      color: red;
      font-size: rem(25);
      line-height: rem(25);
      min-height: rem(30);
    }
  }

  &__title {
    display: none;

    @media(--laptop) {
      @include font-medium();
      display: block;
      color: cc(white);
      font-size: rem(35);
    }

  }
}