main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  //overflow: hidden;
  background-color: cc(black);
}

html {
  background-color: cc(black);
}

body {
  &.--lock {
    overflow-y: hidden;
  }
}
